before_script:
  - export DISTRO_CODENAME=`lsb_release -cs` && echo Using distro $DISTRO_CODENAME
  - export DEBIAN_FRONTEND=noninteractive
  - apt-get update -yq && apt-get install -y lintian libusb-1.0 libpng-dev

variables:
  GET_SOURCES_ATTEMPTS: "3"
  GIT_DEPTH: "0"
  GIT_SUBMODULE_STRATEGY: "recursive"

#########################
# Templates using anchors
#########################
.amd64_bionic_t: &amd64_bionic_job
  image: registry.roboception.de/tools/docker_images:bionic-buildimage
  tags:
    - amd64
    - docker

.armhf_bionic_t: &armhf_bionic_job
  image: registry.roboception.de/tools/docker_images:armhf-bionic-buildimage
  tags:
    - armhf
    - docker

.amd64_focal_t: &amd64_focal_job
  image: registry.roboception.de/tools/docker_images:focal-buildimage
  tags:
    - amd64
    - docker

#############
# Templates
#############
.test:
  stage: test
  script:
    - mkdir build && cd build
    - cmake -DCMAKE_INSTALL_PREFIX="/usr" -DINSTALL_COMPLETION=ON ..
    - make -j 4
    - CTEST_OUTPUT_ON_FAILURE=1 make test

# Debian packaging
.package:
  stage: deploy
  script:
    - mkdir build && cd build
    - if [ -n "$ROS_DISTRO" ]; then
        cmake -DCATKIN_BUILD_BINARY_PACKAGE="1" -DCMAKE_INSTALL_PREFIX="/opt/ros/$ROS_DISTRO" -DCMAKE_PREFIX_PATH="/opt/ros/$ROS_DISTRO" -DCMAKE_BUILD_TYPE=Release .. ;
      else
        cmake -DCMAKE_INSTALL_PREFIX="/usr" -DINSTALL_COMPLETION=ON .. ;
      fi
    - make -j 4
    - make package
    - if [ -z "$APT_REPO" ]; then export APT_REPO=testing; fi
    - upload_deb.sh $DISTRO_CODENAME-$APT_REPO *.deb

.package_testing:
  extends: .package
  only:
    - master
  variables:
    TESTING_DEBS: "true"
    APT_REPO: "testing"

.package_stable:
  extends: .package
  only:
    - /^v[0-9]+\.[0-9]+\.[0-9]+/
  except:
    - branches
  variables:
    APT_REPO: "stable"

##############
#### Jobs ####
##############
gen_dox:
  <<: *amd64_bionic_job
  variables:
    TESTING_DEBS: "true"
  stage: deploy
  script:
    - apt-get install -y doxygen ncftp
    - mkdir build && cd build
    - cmake ..
    - make doc
    - upload_dox.sh doc/html
  only:
    - master
    - tags

# Test (on every commit)
########################
test:bionic:amd64:
  <<: *amd64_bionic_job
  extends: .test

test:bionic:armhf:
  <<: *armhf_bionic_job
  extends: .test

test:focal:amd64:
  <<: *amd64_focal_job
  extends: .test

# Deploy testing (only on master)
#################################
package_testing:bionic:amd64:
  <<: *amd64_bionic_job
  extends: .package_testing

package_testing:bionic:armhf:
  <<: *armhf_bionic_job
  extends: .package_testing

package_testing:focal:amd64:
  <<: *amd64_focal_job
  extends: .package_testing

# Deploy stable (only for releases, version tags)
#################################################
package_stable:bionic:amd64:
  <<: *amd64_bionic_job
  extends: .package_stable

package_stable:bionic:armhf:
  <<: *armhf_bionic_job
  extends: .package_stable

package_stable:focal:amd64:
  <<: *amd64_focal_job
  extends: .package_stable

########################
# package as ROS package
########################

ros_testing:melodic:amd64:
  image: ros:melodic-perception
  tags:
    - amd64
    - docker
  extends: .package_testing

ros_stable:melodic:amd64:
  image: ros:melodic-perception
  tags:
    - amd64
    - docker
  extends: .package_stable
